<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ccc.chess.engine.stockfish">
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Stockfish Engine OEX"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        <activity
            android:name="ccc.chess.engine.stockfish.MainActivity"
            android:label="Stockfish Engine OEX" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
<!--                <category android:name="android.intent.category.DEFAULT" />-->
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="intent.chess.provider.ENGINE" />
            </intent-filter>
            <meta-data
                android:name="chess.provider.engine.authority"
                android:value="ccc.chess.engine.stockfish.StockfishEngineProvider" />
        </activity>

        <provider
            android:name="ccc.chess.engine.stockfish.StockfishEngineProvider"
            android:authorities="ccc.chess.engine.stockfish.StockfishEngineProvider"
            android:exported="true" />
    </application>

</manifest>